/* !fonts */
@font-face {
    font-family: 'Alex Brush';
    src: local('Alex Brush'), local('AlexBrush-Regular'),
        url('../fonts/AlexBrush-Regular.woff2') format('woff2'),
        url('../fonts/AlexBrush-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Abril Fatface';
    src: local('Abril Fatface Regular'), local('AbrilFatface-Regular'),
        url('../fonts/AbrilFatface-Regular.woff2') format('woff2'),
        url('../fonts/AbrilFatface-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/* ********************************************** */
/* !style */
* {
    margin: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(90deg, hsla(255, 100%, 86%, 1) 0%, hsla(271, 100%, 89%, 1) 0%, hsla(275, 100%, 89%, 1) 50%, hsla(300, 100%, 92%, 1) 100%);
    color: rgb(31, 31, 31);
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    text-align: center;
}

h1 {
    margin-block: 20px;
    font-size: 50px;
    font-family: 'Abril Fatface', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

p {
    margin-bottom: 10px;
    font-size: 30px;
    font-family: 'Alex Brush', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.welcome {
    font-size: 40px;
}